                    <div class="col-lg-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Settings</h4>
                                <p class="card-category"> </p>
                            </div>
                            <div class="card-body">
                              <div class="row">

                              <div class="col-lg-4">
                                <div class="settings">
                                  <% if current_user %>
                                    <a href="/users/edit" class="no-decoration">
                                    <% end %>
                                    <% if current_affiliate %>
                                    <a href="/affiliates/edit" class="no-decoration">
                                    <% end %>
                                        <div class="setting-awesome-font">
                                          <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                        <div class="setting-text">
                                          <h5>Account</h5>
                                          <p>Manage your account login details<p>
                                        </div>
                                      </a>
                                    </a>
                                  </div>
                                </div>

                                <div class="col-lg-4">
                                  <div class="settings">
                                    <% if (current_user || current_affiliate).stripe_account %>
                                    <%= link_to stripe_account_path(@stripe_account), class: "no-decoration" do %>
                                    <div class="setting-awesome-font">
                                      <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    </div>
                                    <div class="setting-text">
                                      <h5>Payout Settings</h5>
                                      <p>Enable and manage your payout settings and details<p>
                                    </div>
                                    <% end %>

                                    <% elsif current_affiliate.stripe_account==false %>
                                    <%= link_to new_stripe_account_path, class: "no-decoration" do %>
                                    <div class="col-lg-4 settings">
                                      <div class="setting-awesome-font">
                                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                                      </div>
                                      <div class="setting-text">
                                        <h5>Payout Settings</h5>
                                        <p>Enable and manage your payout settings and details<p>
                                      </div>
                                    </div>
                                    <% end %>
                                    <% end %>
                                  </div>
                                </div>

                                <div class="col-lg-4">
                                  <div class="settings">
                                    <%= link_to account_path, class: "no-decoration" do %>
                                    <div class="setting-awesome-font">
                                      <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    </div>
                                    <div class="setting-text">
                                      <h5>Payout History</h5>
                                      <p>View your payout history and scheduled settlements<p>
                                    </div>
                                    <% end %>
                                  </div>
                                </div>

                            </div>
                          </div>

                        </div>
                    </div>
                  </div>
                  </div>




</body>

<script>

</script>

</html>
