  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12">
          <div class="card scroll">
            <div class="card-header ">
              <h4 class="card-title">Your Shouts Listing</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body ">
              <div data-spy="scroll" data-offset="0">
                <div class="padding_5">
                    <%= render 'form', listing: @listing %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
