<%= form_with(model: stripe_account, local: true) do |form| %>
  <% if stripe_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stripe_account.errors.count, "error") %> prohibited this stripe_account from being saved:</h2>

      <ul>
      <% stripe_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
