<div class="card-deck">
  <div class="margin-auto">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="center-4">
            <h2>
              <%= @client.name %>
            </h2>
            <h5>
              <%= @client.description %>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
