<!-- <div class="panel panel-default">
  <div class="panel-body">
    <form action="/bank_accounts" method="POST" id="payment-form-1">
      <div class="errors"></div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Country</label>
            <select class="form-control input-lg" id="country" data-stripe="country">
              <option value="US">United States</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Currency</label>
            <select class="form-control input-lg" id="currency" data-stripe="currency">
              <option value="usd">USD</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="account_holder_name">
          <div class="form-group">
            <label id="account_holder_name">account_holder_name</label>
            <input class="form-control input-lg" id="account_holder_name" size="12" data-stripe="account_holder_name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" id="routing_number_div">
          <div class="form-group">
            <label id="routing_number_label">Routing Number</label>
            <input class="form-control input-lg bank_account" id="routing_number" type="tel" size="12" data-stripe="routing_number" value="110000000" autocomplete="off">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label id="account_number_label">Account Number</label>
            <input class="form-control input-lg bank_account" id="account_number" type="tel" size="20" data-stripe="account_number" value="000123456789" autocomplete="off">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-lg btn-block btn-primary btn-custom submit" type="submit">Add Bank Account</button>
        </div>
      </div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <%= hidden_field_tag :stripeToken, @stripe_account -%>
    </form>
  </div>
</div> -->

<body>
  <form action="/bank_accounts" method="POST" id="payment-form-1">
    <input type="hidden" name="token" />
    <div class="form-row">
      <label for="country">Country</label>
      <select id="country">
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="GB">United Kingdom</option>
        <option value="DE">Germany</option>
        <option value="FR">France</option>
        <option value="ES">Spain</option>
      </select>
    </div>
    <div class="form-row">
      <label for="currency">Currency</label>
      <select id="currency">
        <option value="USD">US Dollar</option>
        <option value="CAD">Canadian Dollar</option>
        <option value="GBP">Pound</option>
        <option value="EUR">Euro</option>
      </select>
    </div>
    <div class="form-row">
      <label for="routing-number">Routing Number</label>
      <input type="text" id="routing-number" value="110000000" />
    </div>
    <div class="form-row">
      <label for="account-number">Account Number</label>
      <input type="text" id="account-number" value="000123456789" />
    </div>
    <div class="form-row">
      <label for="account-holder-name">Account Holder Name</label>
      <input type="text" id="account-holder-name" value="Jane Austen" />
    </div>
    <div class="form-row">
      <label for="account-holder-type">Account Holder Type</label>
      <select id="account-holder-type">
        <option value="individual">Individual</option>
        <option value="company">Company</option>
      </select>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <%= hidden_field_tag :token -%>

    </div>
    <button type="submit">Submit</button>
    <div class="outcome">
      <div class="error"></div>
      <div class="success">
        Success! Your Stripe token is <span class="token"></span>
      </div>
    </div>
  </form>
</body>
