
                  <div class="row">
                      <div class="col-md-6 mx-auto">
                          <div class="card ">
                              <div class="card-header ">
                                  <h4 class="card-title">Add Your Bank Account</h4>
                                  <p class="card-category">Your payments will be sent to this bank account</p>
                              </div>
                              <div class="card-body ">
                                  <form action="/bank_accounts" method="POST" id="payment-form-1">
                                    <input type="hidden" name="token" />
                                    <div class="form-row" "form-control">
                                      <label for="country">Country</label>
                                      <select id="country" class="form-control">
                                        <option value="US">United States</option>
                                        <option value="CA">Canada</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="DE">Germany</option>
                                        <option value="FR">France</option>
                                        <option value="ES">Spain</option>
                                      </select>
                                    </div>
                                    <div class="form-row">
                                      <label for="currency">Currency</label>
                                      <select id="currency" class="form-control">
                                        <option value="USD">US Dollar</option>
                                        <option value="CAD">Canadian Dollar</option>
                                        <option value="GBP">Pound</option>
                                        <option value="EUR">Euro</option>
                                      </select>
                                    </div>
                                    <div class="form-row">
                                      <label for="routing-number">Routing Number</label>
                                      <input type="text" class="form-control" id="routing-number" value="110000000" />
                                    </div>
                                    <div class="form-row">
                                      <label for="account-number">Account Number</label>
                                      <input type="text" class="form-control" id="account-number" value="000123456789" />
                                    </div>
                                    <div class="form-row">
                                      <label for="account-holder-name">Account Holder Name</label>
                                      <input type="text" class="form-control" id="account-holder-name" />
                                    </div>
                                    <div class="form-row">
                                      <label for="account-holder-type">Account Holder Type</label>
                                      <select id="account-holder-type" class="form-control">
                                        <option value="individual">Individual</option>
                                        <option value="company">Company</option>
                                      </select>
                                      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                      <%= hidden_field_tag :stripeToken, (current_user || current_affiliate).stripe_account.acct_id -%>
                                      <%= hidden_field_tag :stripe_account_id, :value => @stripe_account_id %>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block btn-custom">Submit</button>
                                    <div class="outcome">
                                      <div class="error"></div>
                                      <div class="success">
                                        Success! Your Stripe token is <span class="token"></span>
                                      </div>
                                    </div>
                                  </form>
                              </div>
                              <div class="card-footer ">

                                  <div class="stats">
                                      <i class="fa fa-info"></i> This information is never saved in our database.
                                  </div>
                              </div>

                              </div>
                            </div>
                          </div>



<!-- </body> -->

<script>
  // Stripe.setPublishableKey("<%= ENV['PUBLISHABLE_KEY'] %>");
  var stripe = Stripe('pk_test_WUSowiZS0TqTSqQJucPWU8kh');

  function setOutcome(result) {
  var successElement = document.querySelector('.success');
  var errorElement = document.querySelector('.error');
  successElement.classList.remove('visible');
  errorElement.classList.remove('visible');

  if (result.token) {
    // In this example, we're simply displaying the token
    successElement.querySelector('.token').textContent = result.token.id;
    successElement.classList.add('visible');

    // In a real integration, you'd submit the form with the token to your backend server
    var form = document.getElementById('payment-form-1');
    form.querySelector('input[name="token"]').setAttribute('value', result.token.id);
    form.submit();

  } else {
    errorElement.textContent = result.error.message;
    errorElement.classList.add('visible');
  }
}

document.getElementById('payment-form-1').addEventListener('submit', function(e) {
  e.preventDefault();

  var bankAccountParams = {
    country: document.getElementById('country').value,
    currency: document.getElementById('currency').value,
    account_number: document.getElementById('account-number').value,
    account_holder_name: document.getElementById('account-holder-name').value,
    account_holder_type: document.getElementById('account-holder-type').value,
  }
  if (document.getElementById('routing-number').value != '') {
    bankAccountParams['routing_number'] = document.getElementById('routing-number').value;
  }

  stripe.createToken('bank_account', bankAccountParams).then(setOutcome);
});


</script>
