<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @order.buyer.name %></h1>
    <p>
      Your order has been successfully cancelled.

      Your Shout request has either been cancelled or expired.  Read here on reason why your shout may become cancelled

      Order ID: <%= @order.id %>
    </p>
  </body>
</html>
