<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @order.seller.name %></h1>
    <p>
      Your order has been successfully completed.

      Sign into your account here to download your Shout!

      Order ID: <%= @order.id %>
    </p>
  </body>
</html>
