<body class="home-bg">
<div class="home-bg-1">
<div class="jumbotron-1">
  <div class="white">
    </br>
  </br>
</br>
</br>
<div class="center">
    <h1 class="display-4">HELLO</h1>
    <p>It uses utility classes for typography and spacing to space content out within the larger
      container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/talent" role="button">Listings</a>
    </p>
  </div>
</div>
</div>
</div>
</body>
