<!--
<footer class="footer">
  <small>
    <p>Contact</p>
    <p>Contact</p>
  </small>
  <nav>
    <ul>
      <li><p>Contact</p></li>
      <li><p>Contact</p></li>
      <li><p>Contact</p></li>
    </ul>
  </nav>
</footer> -->

<!-- <footer class="footer">
<div class="container">
  <p class="float-right">
    <ul>
      <li>contact</li>
      <li>contact</li>
      <li>contact</li>
    </ul>
  </p>
  <p class="">
    <ul>
      <li>contact</li>
      <li>contact</li>
      <li>contact</li>
    </ul>
  </p>
</div>
</footer> -->


<!-- Grid column -->
                <div class="col-md-12 mb-4">

                    <!--Footer-->
                    <footer class="page-footer text-center text-md-left mt-0">

                        <!--Footer Links-->
                        <div class="container-fluid">
                          <div class="card-deck">
                              <div class="col-xl-4">
                                  <div class="card" style="border: none;">
                                      <div class="card-body">
                                        <ul class="footer">
                                          <li>FAQ</li>
                                          <li>Privacy Policy</li>
                                          <li>Terms of Service</li>
                                        </ul>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-xl-4">
                                  <div class="card" style="border: none;">
                                      <div class="card-body ">
                                        <ul class="footer">
                                          <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                                        </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>


                        <div class="center"
                          <div class="footer-copyright">
                              <div class="container-fluid">
                                  <%= Time.now.strftime("© %Y") %> Copyright: SHOUTS™

                              </div>
                          </div>
                        </div>
                        <!--/.Copyright-->

                    </footer>
                    <!--/.Footer-->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
