
<footer class="footer">
  <small>
    <p>Contact</p>
    <p>Contact</p>
  </small>
  <nav>
    <ul>
      <li><p>Contact</p></li>
      <li><p>Contact</p></li>
      <li><p>Contact</p></li>
    </ul>
  </nav>
</footer>
